.clear {
	clear: both;
}

.blog-left ul {
	list-style-type: none;
}

.blog-main ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.blog-main li {
	border: 2px solid black;
	padding: 5px;
	margin: 10px 0;
}

.blog-main .header {
	font-weight: bold;
	font-size: larger;
	margin: 0;
	padding : 0;
}

.blog-main .author {
	float : left;
}

.blog-main .pdate {
	float : right;
}

#footer{
	margin: 40px 0 0 0;
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color:  #eee; /* #f9f9f9; */
    border-top: 1px solid #e5e5e5;
}

#footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#footer li {
	display: inline;
    margin-right: 5px; 
    padding: 3px;
}

button#reset {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgb(90,90,90);
  text-decoration: none;
  user-select: none;
  padding: .4em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
  margin: 20px 0 20px 40px;
}

div#select {
	margin: 0 0 0 40px;
}

/*
a#reset:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
a#reset:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
*/
